pyyaml
aiofiles
fastapi
starlette
pydantic
opencv-python-headless
#opencv-python==4.10.0.84
numpy
chromadb
ultralytics
Pillow
datetime
uvicorn
passlib==1.7.4
python-multipart
pydantic[email]
qdrant-client
psycopg2-binary
websockets
httpx
langchain 
langchain-ollama
langchain_community
langchain-core 
python-dotenv
xgboost
anyio
asyncpg
pyotp
PyJWT
tenacity
apscheduler
pytest-mock
pytest-asyncio
pytest-tornasync
pytest-trio
pytest-twisted
pytest 
pytest-asyncio
pytest-cov
pandas
elasticsearch
argon2-cffi
